@model IEnumerable<BilancoTakipProjesi.Models.Kategori>

@{
    ViewData["SayfaBasligi"] = "Kategoriler";
    
    ViewData["SayfaYazisi"] = "Yeni Kategori";

    ViewData["SayfaUrl"] = "/Kategori/EkleYadaGuncelle";
}


<div class="row mb-4">
    <div class="col-md-12">
        <ejs-grid id="kategoris" dataSource="@Model" gridLines="None"
                  allowSorting="true" allowPaging="true">
            <e-grid-pagesettings pagesize="5"></e-grid-pagesettings>
            <e-grid-columns>
                <e-grid-column headerText="KATEGORİ" field="IconluBaslik"></e-grid-column>
                <e-grid-column headerText="KATEGORİ TİPİ" template="#kategoriTipiTemasi" width="150px"></e-grid-column>
                <e-grid-column headerText="İŞLEMLER" template="#islemlerTemasi" width="150px"></e-grid-column>
            </e-grid-columns>
        </ejs-grid>
    </div>
</div>

<script id="kategoriTipiTemasi" type="text/x-template">

    ${if(KategoriTipi == "Gelir")}
        <span class="badge bg-success">${KategoriTipi}</span>
    ${else}
        <span class="badge bg-danger">${KategoriTipi}</span>
    ${/if}

</script>

<script id="islemlerTemasi" type="text/x-template">
    <div class="d-flex flex-row justify-content-start">
        <a class="btn btn-sm no-a-decoration" href="/Kategori/EkleYadaGuncelle/${KategoriId}">
            <i class="fa-solid fa-pen fa-lg"></i>
        </a>
        <form action="/Kategori/Delete/${KategoriId}" method="post">
            @Html.AntiForgeryToken()
            <button type="submit" class="btn btn-sm btn-link no-a-decoration"
            onclick="return confirm(&quot;Silmek istediğinize emin misiniz?&quot;)">
            <i class="fa-solid fa-trash-can fa-lg text-danger"></i>
            </button> 
        </form>
    </div>
</script>